version: 2
jobs:
  build:
    docker:
      - image: cypress/browsers:node12.13.0-chrome80-ff74
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - run: npm run test:integration
      - run: npm run test:es-check
      - run: npm run print-bundle-size
      - run:
          name: Copy screenshots
          command: |
            mkdir /tmp/screenshots
            cp -R ~/repo/cypress/screenshots/*/*.png /tmp/screenshots 2>/dev/null || :
      - run:
          name: Copy videos
          command: |
            mkdir /tmp/videos
            cp -R ~/repo/cypress/videos/*.mp4 /tmp/videos 2>/dev/null || :
      - store_artifacts:
          path: /tmp/screenshots
      - store_artifacts:
          path: /tmp/videos
