<!DOCTYPE html>
<html>
  <head>
    <title>Auth0</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="app" class="container">
      <h1 class="mb-5">Auth0 SPA JS Playground</h1>

      <div v-if="!loading">
        <div class="btn-group mb-3">
          <button class="btn btn-primary" @click="loginPopup">
            Login popup
          </button>

          <button class="btn btn-primary" @click="loginRedirect">
            Login redirect
          </button>

          <button class="btn btn-success" @click="loginHandleRedirectCallback">
            Login redirect callback
          </button>
        </div>

        <div class="btn-group mb-3">
          <button class="btn btn-secondary" @click="getToken">
            Get access token with no interaction
          </button>

          <button class="btn btn-secondary" @click="getTokenPopup">
            Get access token with a popup
          </button>

          <button class="btn btn-secondary" @click="getTokenAudience">
            Get access token for a different audience
          </button>
        </div>

        <div class="btn-group mb-3">
          <button class="btn btn-outline-primary" @click="logout">
            logout (default)
          </button>

          <button class="btn btn-outline-primary" @click="logoutNoClient">
            logout (no client id)
          </button>
        </div>

        <div class="card mb-3" v-if="profile">
          <div class="card-header">Profile</div>
          <div class="card-body">
            {{ JSON.stringify(profile, null, 2) }}
          </div>
        </div>

        <div class="card mb-3" v-if="access_tokens.length > 0">
          <div class="card-header">Access Tokens</div>
          <div class="card-body">
            <ul v-for="token in access_tokens">
              <li>{{token}}</li>
            </ul>
          </div>
        </div>

        <div class="card mb-3" v-if="id_token">
          <div class="card-header">
            ID Token
          </div>
          <div class="card-body">{{ id_token }}</div>
        </div>
      </div>
    </div>

    <script src="/auth0-spa-js.development.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
      var domain = 'brucke.auth0.com';
      var clientId = 'wLSIP47wM39wKdDmOj6Zb5eSEw3JVhVp';

      var app = new Vue({
        el: '#app',
        data() {
          return {
            auth0: null,
            loading: true,
            cacheStragegy: 'memory',
            profile: null,
            access_tokens: [],
            id_token: '',
            isAuthenticated: false
          };
        },
        created() {
          this.initializeClient();
        },
        methods: {
          initializeClient() {
            var _self = this;
            _self.loading = true;

            createAuth0Client({
              domain: domain,
              client_id: clientId,
              cacheStragegy: _self.cacheStragegy
            }).then(function(auth0) {
              _self.auth0 = auth0;
              _self.loading = false;

              auth0.isAuthenticated().then(function(isAuthenticated) {
                _self.isAuthenticated = isAuthenticated;
              });
            });
          },
          showAuth0Info() {
            var _self = this;
            _self.access_tokens = [];

            _self.auth0.getTokenSilently().then(function(token) {
              _self.access_tokens.push(token);
            });

            _self.auth0.getUser().then(function(user) {
              _self.profile = user;
            });

            _self.auth0.getIdTokenClaims().then(function(claims) {
              _self.id_token = claims.__raw;
            });
          },
          loginPopup() {
            var _self = this;

            _self.auth0
              .loginWithPopup({
                redirect_uri: 'http://localhost:3000/callback.html'
              })
              .then(function() {
                _self.showAuth0Info();
              });
          },
          loginRedirect() {
            this.auth0.loginWithRedirect({
              redirect_uri: 'http://localhost:3000/'
            });
          },
          loginHandleRedirectCallback() {
            var _self = this;

            _self.auth0.handleRedirectCallback().then(function() {
              window.history.replaceState(
                {},
                document.title,
                window.location.origin + '/'
              );

              _self.showAuth0Info();
            });
          },
          getToken() {
            var _self = this;

            Promise.all([
              _self.auth0.getTokenSilently({ ignoreCache: true }),
              _self.auth0.getTokenSilently({ ignoreCache: true })
            ]).then(function(tokens) {
              _self.access_tokens = [tokens[0], tokens[1]];
            });
          },
          getTokenPopup() {
            var _self = this;

            _self.auth0
              .getTokenWithPopup({
                audience: 'https://brucke.auth0.com/api/v2/',
                scope: 'read:rules'
              })
              .then(function(token) {
                _self.access_tokens = [token];
              });
          },
          getTokenAudience() {
            var _self = this;

            var differentAudienceOptions = {
              audience: 'https://brucke.auth0.com/api/v2/',
              scope: 'read:rules',
              redirect_uri: 'http://localhost:3000/callback.html'
            };

            _self.auth0
              .getTokenSilently(differentAudienceOptions)
              .then(function(token) {
                _self.access_tokens = [token];
              });
          },
          logout() {
            this.auth0.logout({
              returnTo: 'http://localhost:3000/'
            });
          },
          logoutNoClient() {
            this.auth0.logout({
              client_id: null,
              returnTo: 'http://localhost:3000/'
            });
          }
        }
      });
    </script>
  </body>
</html>
